/* Fonts */
$fontFamily: Arial, Helvetica, sans-serif;

/* Header */
$header-background: #292c2f;
$header-heading: #fff;
$header-link: #006d96;
$header-link--hover: #00a6e4;

/* Content */
$content-background: #57595c;
$content-text: #000000;
$content-link: #006d96;
$content-link--hover: #00a6e4;
