@import '../../ui/variables';

.heading__link {
  font-size: 20px;
  line-height: 40px;
  float: left;
  display: inline-block;
  color: $header-heading;
  text-decoration: none;
}

.heading__link:hover {
  color: $header-link--hover;
}
